<?xml version="1.0" encoding="UTF-8"?>
<config>
    <timezone>Asia/Shanghai</timezone>
    <!-- 是否开启gm 命令， 1 开启, 其他 关闭 -->
    <gm-cmd open="1" />
    <!-- 是否开启注册和登陆 -->
    <register open="1"/>
    <login open="1"/>

    <!-- 指定使用的confi, 没有这个配置就是默认规则 -->
    <config>
        <file></file>
    </config>

    <!-- 这组uwsgi跑起来后， 一些任务要处理的服务器。 比如cronjob -->
    <!-- min 和 max 都是0 表示这组服务器不跑 cronjob -->
    <duty-server>
        <min>1</min>
        <max>9999</max>
    </duty-server>

    <sockets>
        <s1 host="127.0.0.1" http="7898" tcp="7999" />
    </sockets>

    <match-servers>
        <s1 host="127.0.0.1" port="0"/>
        <s2 host="127.0.0.1" port="0"/>
    </match-servers>

    <mysql>
        <host>127.0.0.1</host>
        <port>3306</port>
        <database>dianjing</database>
        <user>root</user>
        <password>root</password>
    </mysql>

    <redis>
        <host>127.0.0.1</host>
        <port>6379</port>
    </redis>

    <!-- mongodb 组, 每组的 sid-min 和 sid-max 表示这个范围内的 server 连接的都是这个 instance -->
    <!-- db的名字就是 <prefix>N N就是 server id -->
    <!-- 当开新服的id已经超过这里配置的最大ID的时候，要增加配置，重启服务器 -->
    <mongodb>
        <prefix></prefix>
        <instance user="" password="" host="127.0.0.1" port="27017" sid-min="1" sid-max="100" />
    </mongodb>

    <!-- 第三方配置 -->
    <third-provider>
        <p1 provider="1sdk" />
        <p2 provider="stars-cloud" appid="" pmsecret=""/>
    </third-provider>

    <!-- 个推 设置 -->
    <getui>
        <appid></appid>
        <appkey></appkey>
        <mastersecret></mastersecret>
    </getui>

    <mailgun>
        <sender></sender>
        <key></key>
        <domain></domain>
    </mailgun>

    <crypto>
        <key>1234567890abcdef</key>
        <iv>1234567890abcdef</iv>
    </crypto>

    <!-- admin 是服务器报错后要发送的人. 如果有多个，就写多个admin-->
    <admins>
        <admin name="Wang Chao" email="mztimes_dev@163.com" />
    </admins>

</config>
