<?xml version="1.0" encoding="UTF-8"?>
<config>
    <timezone>Asia/Shanghai</timezone>

    <mysql>
        <host>127.0.0.1</host>
        <port>3306</port>
        <database>dianjing</database>
        <user>root</user>
        <password>root</password>
    </mysql>

    <crypto>
        <key>1234567890abcdef</key>
        <iv>1234567890abcdef</iv>
    </crypto>

    <redis>
        <host>127.0.0.1</host>
        <port>6379</port>
        <cache-seconds>3600</cache-seconds>
    </redis>

    <mongodb>
        <user></user>
        <password></password>
    </mongodb>

    <mailgun>
        <sender></sender>
        <key></key>
        <domain></domain>
    </mailgun>

    <!-- admin 是服务器报错后要发送的人. 如果有多个，就写多个admin-->
    <admins>
        <admin name="Wang Chao" email="mztimes_dev@163.com" />
    </admins>

    <qiniu>
        <accesskey></accesskey>
        <secretkey></secretkey>
        <bucket></bucket>
    </qiniu>
</config>
