<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>original</title>
    {% endblock %}
    <script src="/static/js/react.js"></script>
    <script src="/static/js/JSXTransformer.js"></script>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pure-min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>