<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/react.js"></script>
    <script src="/static/JSXTransformer.js"></script>
    <style type="text/css">
        td {
            text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px
        }

        th {
            text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px
        }
    </style>
</head>
<body>
<div id="content"></div>
<script type="text/jsx">

    var char_id = "{{ data.id }}";

    var staffs = [];
    {% for st_k, st_v in data.staffs.items %}
        var staff = {};
        staff['id'] = "{{ st_k }}";
        staff['exp'] = "{{ st_v.exp }}";
        staff['level'] = "{{ st_v.level }}";
        staff['status'] = "{{ st_v.status }}";

        var skills = [];
        {% for sk_k, sk_v in st_v.skills.items %}
            var skill = {};
            skill['id'] = "{{ sk_k }}";
            skill['level'] = "{{ sk_v.level }}";
            skill['locked'] = "{{ sk_v.locked }}";

            skills.push(skill);
        {% endfor %}
        staff['skills'] = skills;

        var trainings = [];
        {% for training in st_v.trainings %}
            var t_id = trainings;
            trainings.push(t_id);
        {% endfor %}
        staff['trainings'] = trainings;

        staffs.push(staff);
    {% endfor %}

    var MakeSkillRow = React.createClass({
        render: function () {
            return (
                    <li>id:{this.props.skill.id} level:{this.props.skill.level} locked:{this.props.skill.locked}</li>
            );
        }
    });

    var MakeTrainingRow = React.createClass({
        render: function () {
            return (
                    <li>{this.props.training}</li>
            );
        }
    });

    var MakeStaffRow = React.createClass({
        render: function () {
            var skillRows = [];
            this.props.staff.skills.forEach(function (skill) {
                skillRows.push(<MakeSkillRow skill={skill}/>);
            });

            var trainingRows = [];
            this.props.staff.trainings.forEach(function (training) {
                skillRows.push(<MakeTrainingRow training={training}/>);
            });

            return (
                    <tr>
                        <td>{this.props.staff.id}</td>
                        <td>{this.props.staff.exp}</td>
                        <td>{this.props.staff.level}</td>
                        <td>{this.props.staff.status}</td>
                        <td>{skillRows}</td>
                        <td>{trainingRows}</td>
                    </tr>
            );
        }
    });

    var StaffTable = React.createClass({
        render: function () {
            var rows = [];
            this.props.staffs.forEach(function (staff) {
                if (staff.id != this.props.filterText && this.props.filterText != '') {
                    return;
                }
                rows.push(<MakeStaffRow staff={staff}/>);
            }.bind(this));

            return (
                    <table>
                        <thead>
                            <tr>
                                <th>员工ID</th>
                                <th>员工经验</th>
                                <th>员工等级</th>
                                <th>员工状态</th>
                                <th>员工技能</th>
                                <th>员工训练列表</th>
                            </tr>
                        </thead>
                        <tbody>{rows}</tbody>
                    </table>
            );
        }
    });

    var SearchBar = React.createClass({

        handleChange: function () {
            this.props.onUserInput(
                    this.refs.filterTextInput.getDOMNode().value
            );
        },

        render: function () {
            return (
                    <form>
                        <input
                                type="text"
                                placeholder="Search...ID"
                                value={this.props.filterText}
                                ref="filterTextInput"
                                onChange={this.handleChange}
                                />
                    </form>
            );
        }
    });

    var StaffForm = React.createClass({

        getInitialState: function () {
            return {
                filterText: ''
            };
        },

        handleUserInput: function (filter) {
            this.setState({
                filterText: filter
            });
        },

        render: function () {
            return (
                    <div>
                        <h2>Character ID: {char_id}</h2>
                        <SearchBar
                                filterText={this.state.filterText}
                                onUserInput={this.handleUserInput}
                                />

                        <StaffTable
                                staffs={this.props.staffs}
                                filterText={this.state.filterText}
                                />
                    </div>
            );
        }
    });

    React.render(
            <StaffForm staffs={staffs}/>,
            document.getElementById('content')
    )
</script>
</body>
</html>