<div id="main">
    <div class="header">
        <h1>Character</h1>
    </div>
    <div class="area-search">
        <input class="input-search" placeholder="Search...">
        <select>
            <option>id</option>
            <option>name</option>
            <option>club</option>
        </select>
        <button class="search-btn" title="Search">Search</button>
    </div>
    <div id="area-data"></div>
</div>
<script type="text/jsx">
    var chars = [];
    {% for char in data %}
        var temp = {};
        var club_info = {};
        temp['id'] = "{{ char.id }}";
        temp['name'] = "{{ char.name }}";
        temp['club'] = "{{ char.club }}";
        temp['challenge_id'] = "{{ char.challenge_id }}";
        temp['league_group'] = "{{ char.league_group }}";
        chars.push(temp);
    {% endfor %}

    var server_id = "{{ server_id }}";
    var counter = 0;
    var CharacterRow = React.createClass({
        render: function () {
            var link = "/data/character/club?server_id=" + server_id + "&char_id=" + this.props.char.id;
            var name = '';
            if (counter % 2 === 0) {
                name = "alt"
            }
            counter++;
            return (
                    <tr className={name}>
                        <td>{this.props.char.id}</td>
                        <td>{this.props.char.name}</td>
                        <td>
                            <a href={link}>{this.props.char.club}</a>
                        </td>
                        <td>{this.props.char.challenge_id}</td>
                        <td>{this.props.char.league_group}</td>
                    </tr>
            );
        }
    });

    var CharacterTable = React.createClass({
        render: function () {
            var rows = [];
            this.props.chars.forEach(function (char) {
                rows.push(<CharacterRow char={char}/>);
            }.bind(this));

            return (
                    <table className="pure-table-my">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Club</th>
                                <th>Challenge_id</th>
                                <th>League_group</th>
                            </tr>
                        </thead>
                        <tbody>
                            {rows}
                        </tbody>
                    </table>
            );
        }
    });

    var Characters = React.createClass({
        render: function () {
            return (
                    <div className="middle">
                        <CharacterTable chars={this.props.chars}/>
                    </div>
            );
        }
    });

    React.render(
            <Characters chars={chars}/>,
            document.getElementById('area-data')
    )

</script>

