
<div id="main"></div>
<script type="text/jsx">
    var club = {};
    club['id'] = "{{ data.id }}";
    club['name'] = "{{ data.club.name }}";
    club['flag'] = "{{ data.club.flag }}";
    club['level'] = "{{ data.club.level }}";
    club['renown'] = "{{ data.club.renown }}";
    club['vip'] = "{{ data.club.vip }}";
    club['gold'] = "{{ data.club.gold }}";
    club['diamond'] = "{{ data.club.diamond }}";
    club['policy'] = "{{ data.club.policy }}";

    var match_s = [];
    {% for s in data.club.match_staffs %}
        match_s.push("{{ s }}");
    {% endfor %}
    club['match_staffs'] = match_s;

    var tibu_s = [];
    {% for s in data.club.tibu_staffs %}
        {% if s != 0 %}
            tibu_s.push("{{ s }}");
        {% endif %}
    {% endfor %}
    club['tibu_staffs'] = tibu_s;

    var server_id = "{{ server_id }}";

    var ClubTable = React.createClass({
        render: function () {
            var tmp = 0;
            var macth_link = '';
            var alternate_link = '';
            var link = "/data/staff/char?server_id=" + server_id + "&char_id=" + club['id'];

            this.props.club.match_staffs.forEach(function (staff) {
                if(tmp != 0){
                    macth_link+=',';
                }
                macth_link+= {staff}.staff;
                tmp++;
            }.bind(this));

            tmp = 0;
            this.props.club.tibu_staffs.forEach(function (staff) {
                if(tmp != 0){
                    alternate_link+=',';
                }
                alternate_link+= {staff}.staff;
                tmp++;
            }.bind(this));

            return (
                    <table className="pure-table-my">
                        <thead>
                            <tr>
                                <th>帐号ID</th>
                                <th>俱乐部名称</th>
                                <th>旗帜</th>
                                <th>俱乐部等级</th>
                                <th>俱乐部荣誉</th>
                                <th>VIP</th>
                                <th>金币</th>
                                <th>钻石</th>
                                <th>战术</th>
                                <th>首发成员</th>
                                <th>替补成员</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{this.props.club.id}</td>
                                <td>{this.props.club.name}</td>
                                <td>{this.props.club.flag}</td>
                                <td>{this.props.club.level}</td>
                                <td>{this.props.club.renown}</td>
                                <td>{this.props.club.vip}</td>
                                <td>{this.props.club.gold}</td>
                                <td>{this.props.club.diamond}</td>
                                <td>{this.props.club.policy}</td>
                                <td>
                                    <a href={link}>{macth_link}</a>
                                </td>
                                <td>
                                    <a href={link}>{alternate_link}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            );
        }
    });

    var ClubForm = React.createClass({
        render: function () {
            return (
                    <div>
                        <div className="header">
                            <h1>Club</h1>
                        </div>
                        <div className="middle">
                            <ClubTable club={this.props.club}/>
                        </div>
                    </div>
            );
        }
    });

    React.render(
            <ClubForm club={club}/>,
            document.getElementById('main')
    )
</script>