<div id="menu"></div>
<script type="text/jsx">
    var server_id = "{{ server_id }}";
    var CollectionRows = React.createClass({
        render: function () {
            var link = "/data/" + this.props.collection + "/?server_id=" + server_id;
            var tmp = window.location.href;
            var name = 'pure-menu-item';
            if(tmp.indexOf(link) != -1){
                name += ' pure-menu-selected';
            }

            return (
                    <li className={name}>
                        <a className="pure-menu-link" href={link}>{this.props.collection}</a>
                    </li>
            );
        }
    });

    var CollectionListForm = React.createClass({
        render: function () {
            var rows = [];
            this.props.collections.forEach(function (collection) {
                rows.push(<CollectionRows collection={collection}/>);
            }.bind(this));
            return (
                    <div className="pure-menu">
                        <a className="pure-menu-heading"
                           href="/data/">
                            Home
                        </a>
                        <ul className="pure-menu-list">
                            {rows}
                        </ul>
                    </div>
            );
        }
    });

    var list = ['character', 'staff', 'recruit', 'friend', 'mail', 'building'];

    React.render(
            <CollectionListForm collections={list}/>,
            document.getElementById('menu')
    );

    (function (window, document) {

        var layout = document.getElementById('layout'),
                menu = document.getElementById('menu'),
                menuLink = document.getElementById('menuLink');

        function toggleClass(element, className) {
            var classes = element.className.split(/\s+/),
                    length = classes.length,
                    i = 0;

            for (; i < length; i++) {
                if (classes[i] === className) {
                    classes.splice(i, 1);
                    break;
                }
            }
            // The className is not found
            if (length === classes.length) {
                classes.push(className);
            }

            element.className = classes.join(' ');
        }

        menuLink.onclick = function (e) {
            var active = 'active';

            e.preventDefault();
            toggleClass(layout, active);
            toggleClass(menu, active);
            toggleClass(menuLink, active);
        };

    }(this, this.document));
</script>

