<div id="main"></div>
<script type="text/jsx">
    var server_id = "{{ server_id }}";

    var CupTable = React.createClass({
        render: function () {
            var rows = [];
            var counter = 0;
            for (var i = 1; i < 64; i++) {
                var cup_32 = '';
                var cup_16 = '';
                var cup_8 = '';
                var cup_4 = '';
                var cup_2 = '';
                var cup_c = '';

                var name_32 = '';
                var name_16 = '';
                var name_8 = '';
                var name_4 = '';
                var name_2 = '';
                var name_c = '';
                var link = '';

                if (i % 2 === 1 && '32' in this.props.cup) {
                    name_32='cup-table-td-32';
                    cup_32 = this.props.club[this.props.cup['32'][Math.ceil(i/2)-1]];
                    link = '/data/search/?server_id='+ server_id + '&type=club&text=' + cup_32;
                }
                if( (i+2)%4 === 0 && '16' in this.props.cup){
                    name_16='cup-table-td-16';
                    cup_16 = this.props.club[this.props.cup['16'][(i+2)/4-1]];
                }
                if( ((i/4)%2) === 1 && '8' in this.props.cup){
                    name_8='cup-table-td-8';
                    cup_8 = this.props.club[this.props.cup['8'][Math.ceil(i/8)-1]];
                }
                if( (i/8)%2 === 1 && '4' in this.props.cup){
                    name_4='cup-table-td-4';
                    cup_4 = this.props.club[this.props.cup['4'][Math.ceil(i/16)-1]];
                }
                if( (i/16)%2 === 1 && '2' in this.props.cup){
                    name_2='cup-table-td-2';
                    cup_2 = this.props.club[this.props.cup['2'][Math.ceil(i/32)-1]];
                }
                if(i === 32){
                    cup_c = this.props.club[this.props.champion];
                    if(cup_c){
                        name_c='cup-table-td-c';
                    }
                }

                rows.push(
                        <tr>
                            <td className={name_32}>
                                <a href={link}>{cup_32}</a></td>
                            <td className={name_16}>{cup_16}</td>
                            <td className={name_8}>{cup_8}</td>
                            <td className={name_4}>{cup_4}</td>
                            <td className={name_2}>{cup_2}</td>
                            <td className={name_c}>{cup_c}</td>
                        </tr>
                );
            }

            return (
                    <table className="cup-table-my">
                        <thead>
                            <tr>
                                <td colSpan="6" className="table-head">
                                    <h3>第 {this.props.order} 轮杯赛</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>32强</td>
                                <td>16强</td>
                                <td>8强</td>
                                <td>半决赛</td>
                                <td>决赛</td>
                                <td>冠军</td>
                            </tr>
                        </thead>
                        <tbody>
                            {rows}
                        </tbody>
                    </table>
            );
        }
    });

    var CupForm = React.createClass({
        render: function () {
            var tmp_data = JSON.parse(this.props.data);
            var tmp_club = JSON.parse(this.props.club);
            if (tmp_data === null || Object.keys(tmp_data).length === 0) {
                return (
                        <div>
                            <h1>No Data!</h1>
                        </div>
                );
            }

            return (
                    <div>
                        <div className="title">
                            <h1>Cup League</h1>
                        </div>
                        <CupTable
                                cup={tmp_data.levels}
                                order={tmp_data.order}
                                club={tmp_club}
                                champion={tmp_data.last_champion}
                                />
                    </div>
            );
        }
    });

    React.render(
            <CupForm data="{{ data }}"
                     club="{{ club }}"/>,
            document.getElementById('main')
    )
</script>