{% extends "base_index.html" %}

{% block title %}
    <title>Search</title>
{% endblock %}

{% block body %}
    <div id="layout">
        {% include "menu.html" %}
        <div id="main" style="text-align: center">
            <div class="header">
                <h1>Search</h1>
            </div>
            <form class="pure-form">
                <label class="pure-radio">
                    <input type="radio" name="type" value="id" checked>
                    id
                    <input type="radio" name="type" value="name"/>
                    name
                    <input type="radio" name="type" value="club"/>
                    club
                </label>
                <input class="pure-input-1-2" name="text" placeholder="搜索">
                <button class="pure-button">Search</button>
            </form>
            <div id="data" class="data"></div>

            <script type="text/jsx">

                var data = [];
                var counter = 0;

                if ("{{ data }}") {
                    {% for d in data %}
                        var tmp_d = {};
                        tmp_d['id'] = "{{ d.id }}";
                        tmp_d['account_id'] = "{{ d.account_id }}";
                        tmp_d['name'] = "{{ d.name }}";
                        tmp_d['server_id'] = "{{ d.server_id }}";
                        tmp_d['last_login'] = "{{ d.last_login }}";
                        tmp_d['login_times'] = "{{ d.login_times }}";
                        tmp_d['create_at'] = "{{ d.create_at }}";
                        tmp_d['club_name'] = "{{ d.club_name }}";

                        data.push(tmp_d);
                    {% endfor %}
                    change();

                    $('table tr').click(function () {
                        window.location = $(this).data('href');
                        return false;
                    });
                }

                function change() {
                    var ResultRow = React.createClass({
                        render: function () {
                            var link = '/data/char/?server_id=' + this.props.d.server_id + '&id=' + this.props.d.id;
                            var name = 'link-tr';
                            if (counter % 2 === 0) {
                                name += ' pure-table-odd';
                            }
                            counter++;

                            return (
                                    <tr className={name} data-href={link}>
                                        <td>{this.props.d.id}</td>
                                        <td>{this.props.d.account_id}</td>
                                        <td>{this.props.d.server_id}</td>
                                        <td>{this.props.d.name}</td>
                                        <td>{this.props.d.club_name}</td>
                                        <td>{this.props.d.create_at}</td>
                                        <td>{this.props.d.last_login}</td>
                                        <td>{this.props.d.login_times}</td>
                                    </tr>
                            );
                        }
                    });

                    var ResultTable = React.createClass({
                        render: function () {
                            var rows = [];

                            this.props.data.forEach(function (d) {
                                rows.push(<ResultRow d={d}/>);
                            });


                            return (
                                    <table className="pure-table middle">
                                        <thead>
                                            <tr>
                                                <th>Role ID</th>
                                                <th>帐号</th>
                                                <th>服务器</th>
                                                <th>角色</th>
                                                <th>俱乐部</th>
                                                <th>创建时间</th>
                                                <th>最后登录时间</th>
                                                <th>登陆次数</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {rows}
                                        </tbody>
                                    </table>
                            );
                        }
                    });

                    var ResultForm = React.createClass({
                        render: function () {

                            return (
                                    <div>
                                        <ResultTable data={this.props.data}/>
                                    </div>
                            );
                        }
                    });

                    React.render(
                            <ResultForm data={data}/>,
                            document.getElementById('data'));
                }

            </script>
        </div>
    </div>
{% endblock %}