<div id="content"></div>
<script type="text/jsx">
    var FriendTbl = React.createClass({
        render: function () {
            var Rs = {
                1: "FRIEND_STATUS_NOT",
                2: "FRIEND_STATUS_OK",
                3: "FRIEND_STATUS_PEER_CONFIRM",
                4: "FRIEND_STATUS_SELF_CONFIRM"
            };

            var rows = [];
            var counter = 0;

            for (var f in this.props.friends) {
                var name = '';
                if (counter % 2 === 0) {
                    name = 'pure-table-odd';
                }
                ++counter;

                rows.push(
                        <tr className={name}>
                            <td>{f}</td>
                            <td>{Rs[this.props.friends[f]]}</td>
                        </tr>
                );
            }

            return (
                    <div className="item">
                        <h2>Friend</h2>
                        <table className="pure-table-my">
                            <thead>
                                <tr>
                                    <th>Friend ID</th>
                                    <th>RelationShip</th>
                                </tr>
                            </thead>
                            <tbody>
                                {rows}
                            </tbody>
                        </table>
                    </div>
            );
        }
    });

    var FriendForm = React.createClass({
        render: function(){
            var tmp = JSON.parse(this.props.friends);
            if(tmp === null || Object.keys(tmp.friends).length === 0){
                return(
                        <div>
                            <h2>No Data</h2>
                        </div>
                );
            }

            return(
                    <div>
                        <FriendTbl friends={tmp.friends}/>
                    </div>
            );
        }
    });

    React.render(
            <FriendForm friends="{{ data }}"/>,
            document.getElementById('content')
    )
</script>
