<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/react.js"></script>
    <script src="/static/JSXTransformer.js"></script>
    <style type="text/css">
        h1 {color: black; }
        table {text-align: center;}
        td {text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px}
        th {text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px}
    </style>
</head>
<body>
<h1>League_Event</h1>
<div id="content"></div>
<script type="text/jsx">

    var events = [];

    {% for d in data %}
        var event = {};
        event['id'] = "{{ d.id }}";
        event['start_at'] = "{{ d.start_at }}";
        event['finished'] = "{{ d.finished }}";

        var pairs = [];
        {% for k, v in d.pairs.items %}
            var pair ={};
            pair['id'] = "{{ k }}";
            pair['club_one'] = "{{ v.club_one }}";
            pair['club_two'] = "{{ v.club_two }}";

            pairs.push(pair);
        {% endfor %}
        event['pairs'] = pairs;

        events.push(event);
    {% endfor %}

    var PairRow = React.createClass({
        render: function(){
            return(
                    <li>ID:{this.props.pair.id} ClubOne: {this.props.pair.club_one} ClubTwo:{this.props.pair.club_two}</li>
            );
        }
    });

    var MakeRow = React.createClass({
        render: function(){
            var pairs = [];
            this.props.event.pairs.forEach(function(pair){
                pairs.push(<PairRow pair={pair} />);
            }.bind(this));

            return(
                    <tr>
                        <td>{this.props.event.id}</td>
                        <td>{this.props.event.start_at}</td>
                        <td>{this.props.event.finished}</td>
                        <td>{pairs}</td>
                    </tr>
            );
        }
    });

    var ShowForm = React.createClass({
        render: function(){
            var rows = [];
            this.props.events.forEach(function(event){
                rows.push(<MakeRow event={event}/> );
            }.bind(this));

            return(
                    <table>
                        <tr>
                            <th width="300">League_ID</th>
                            <th width="300">Start_at</th>
                            <th width="120">Finished</th>
                            <th width="300">Pairs</th>
                        </tr>
                        {rows}
                    </table>
            );
        }
    });

    React.render(
            <ShowForm events={events} />,
            document.getElementById('content')
    )
</script>

</body>
</html>