<div id="main"></div>
<script type="text/jsx">

    var server_id = "{{ server_id }}";

    var mails_data = [];
    {% for d in data %}
        var row = {};
        row['id'] = "{{ d.id }}";

        var mails = [];
        {% for m in d.mails %}
            var mail = [];
            mail['char_id'] = "{{ d.id }}";
            mail['key'] = "{{ m.key }}";
            mail['title'] = "{{ m.title }}";

            mails.push(mail);
        {% endfor %}
        row['mails'] = mails;

        mails_data.push(row);
    {% endfor %}

    var MailRow = React.createClass({
        render: function () {
            var link = "/data/mail/one?server_id=" + server_id +
                    "&char_id=" + this.props.mail.char_id +
                    "&mail_id=" + this.props.mail.key;
            return (
                    <li>
                        <a href={link}>{this.props.mail.key}: {this.props.mail.title}</a>
                    </li>
            );
        }
    });

    var counter = 0;
    var MakeRow = React.createClass({
        render: function () {
            var rows = [];
            this.props.row.mails.forEach(function (mail) {
                rows.push(<MailRow mail={mail}/>);
            }.bind(this));

            var name = '';
            if (counter % 2 === 0) {
                name = 'alt';
            }
            counter++;

            return (
                    <tr className={name}>
                        <td>{this.props.row.id}</td>
                        <td>{rows}</td>
                    </tr>
            )
        }
    });

    var MailTable = React.createClass({
        render: function () {
            var rows = [];
            this.props.mails.forEach(function (row) {
                if (row.id.indexOf(this.props.filterText) === -1) {
                    return;
                }
                rows.push(<MakeRow row={row}/>);
            }.bind(this));

            return (
                    <table className="pure-table-my">
                        <thead>
                            <tr>
                                <th>Char_ID</th>
                                <th>Mails</th>
                            </tr>
                        </thead>
                        <tbody>{rows}</tbody>
                    </table>
            );
        }
    });

    var SearchBar = React.createClass({

        handleChange: function () {
            this.props.onUserInput(
                    this.refs.filterTextInput.getDOMNode().value
            )
        },

        render: function () {
            return (
                    <input
                            type="text"
                            placeholder="Search...ID"
                            value={this.props.filterText}
                            ref="filterTextInput"
                            onChange={this.handleChange}
                            />
            );
        }
    });

    var MailForm = React.createClass({

        getInitialState: function () {
            return {
                filterText: ''
            }
        },

        handleUserInput: function (filterText) {
            this.setState({
                filterText: filterText
            });
        },

        render: function () {
            return (
                    <div>
                        <div className="header">
                            <h1>Mails</h1>
                        </div>
                        <div className="searchBar">
                            <SearchBar
                                    filterText={this.state.filterText}
                                    onUserInput={this.handleUserInput}
                                    />
                        </div>
                        <div className="middle">
                            <MailTable
                                    mails={this.props.mails}
                                    filterText={this.state.filterText}
                                    />
                        </div>
                    </div>
            );
        }
    });

    React.render(
            <MailForm mails={mails_data}/>,
            document.getElementById('main')
    )

</script>
