<div id="main"></div>
<script type="text/jsx">
    var has_read = '';

    var Main = React.createClass({
        render: function () {
            return (
                    <div className="mail-form">
                        <div className="title">
                            <p className="mail-title-t">{this.props.mail.mail.title}</p>
                        </div>
                        <div>
                            <li className="mail-info">
                                <div className="mail-info-o">Sender ID:</div>
                                <p className="mail-info-t">{this.props.mail.mail.from_id}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Receiver ID:</div>
                                <p className="mail-info-t">{this.props.mail.id}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Send Time:</div>
                                <p className="mail-info-t">{this.props.mail.mail.create_at}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Status:</div>
                                <p className="mail-info-t">{has_read}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Attachment:</div>
                                <p className="mail-info-t">{this.props.mail.mail.attachment}</p>
                            </li>
                        </div>
                        <div>
                            <div className="mail-form-content">Content</div>
                            <li className="mail-form-content-t">{this.props.mail.mail.content}</li>
                        </div>
                    </div>
            );
        }
    });

    var MailForm = React.createClass({
        render: function () {
            var tmp = JSON.parse(this.props.mail);
            var str = tmp.mail.create_at;

            if(tmp.mail.has_read){
                has_read='已读';
            }
            else{
                has_read='未读';
            }

            return (
                    <div>
                        <div className="header">
                            <h1>Mail</h1>
                        </div>
                        <div>
                            <Main mail={tmp}/>
                        </div>
                    </div>
            );
        }
    });

    React.render(
            <MailForm mail="{{ data }}"/>,
            document.getElementById('main')
    )
</script>
