<div id="main"></div>
<script type="text/jsx">
    var server_id = "{{ server_id }}";
    var char_id = '';

    var MailTable = React.createClass({
        render: function () {
            var rows = [];
            var counter = 0;
            var link = '';

            for (var m in this.props.mails) {

                link = "/data/mail/one/?server_id=" + server_id + "&char_id=" + char_id + "&mail_id=" + m;
                var name = '';
                if (counter % 2 === 0) {
                    name = 'pure-table-odd';
                }
                ++counter;
                rows.push(
                        <tr className={name}>
                            <td>{this.props.mails[m].from_id}</td>
                            <td>
                                <a href={link}>{this.props.mails[m].title}</a>
                            </td>
                        </tr>
                );
            }

            return (
                    <table className="pure-table-my">
                        <thead>
                            <tr>
                                <th>发送人ID</th>
                                <th>主题</th>
                            </tr>
                        </thead>
                        <tbody>{rows}</tbody>
                    </table>
            );
        }
    });

    var MailForm = React.createClass({
        render: function () {
            var tmp = JSON.parse(this.props.mails);
            char_id = tmp._id;
            if (Object.keys(tmp.mails).length === 0) {
                return (
                        <div>
                            <div className="header">
                                <h1>Mails</h1>
                            </div>
                            <div className="middle">
                                <h1>（/TДT)/  没有邮件！</h1>
                            </div>
                        </div>
                );

            }
            else {
                return (
                        <div>
                            <div className="header">
                                <h1>Mails</h1>
                            </div>
                            <div className="middle">
                                <MailTable mails={tmp.mails}/>
                            </div>
                        </div>
                );
            }
        }
    });

    React.render(
            <MailForm mails="{{ data }}"/>,
            document.getElementById('main')
    )

</script>
