<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/react.js"></script>
    <script src="/static/JSXTransformer.js"></script>
    <style type="text/css">
        h1 {color: black; }
        table {text-align: center;}
        td {text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px}
        th {text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px}
    </style>
</head>
<body>
<div id="content" style="width: 600px"></div>

<script type="text/jsx">

    var mail = {};
    mail['char_id'] = "{{ data.char_id }}";
    mail['key'] = "{{ data.key }}";
    mail['title'] = "{{ data.title }}";
    mail['from_id'] = "{{ data.from_id }}";
    mail['content'] = "{{ data.content }}";
    mail['has_read'] = "{{ data.has_read }}";
    mail['create_at'] = "{{ data.create_at }}";
    mail['attachment'] = "{{ data.attachment }}";

    var MailForm = React.createClass({
        render: function(){
            return(
                    <div>
                        <h1>Character ID: {this.props.mail.char_id}</h1>
                        <h3>Mail ID: {this.props.mail.key}</h3>
                        <h3>Mail Title: {this.props.mail.title}</h3>
                        <h3>From ID: {this.props.mail.from_id}</h3>
                        <h3>Read Stus: {this.props.mail.has_read}</h3>
                        <h3>Create Time: {this.props.mail.create_at}</h3>
                        <h3>Content: {this.props.mail.content}</h3>
                        <h3>Attachment: {this.props.mail.attachment}</h3>
                    </div>
            );
        }
    });

    React.render(
            <MailForm mail={mail} />,
            document.getElementById('content')
    )
</script>
</body>
</html>