<div id="main"></div>

<script type="text/jsx">

    var mail = {};
    mail['char_id'] = "{{ data.char_id }}";
    mail['key'] = "{{ data.key }}";
    mail['title'] = "{{ data.title }}";
    mail['from_id'] = "{{ data.from_id }}";
    mail['content'] = "{{ data.content }}";
    mail['has_read'] = "{{ data.has_read }}";

    var time = "{{ data.create_at }}";
    mail['create_at'] = time;

    mail['attachment'] = "{{ data.attachment }}";

    var Main = React.createClass({
        render: function () {
            return (
                    <div className="mail-form">
                        <div className="title">
                            <p className="mail-title-t">{this.props.mail.title}</p>
                        </div>
                        <div>
                            <li className="mail-info">
                                <div className="mail-info-o">Sender ID:</div>
                                <p className="mail-info-t">{this.props.mail.from_id}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Receiver ID:</div>
                                <p className="mail-info-t">{this.props.mail.char_id}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Send Time:</div>
                                <p className="mail-info-t">{this.props.mail.create_at}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Status:</div>
                                <p className="mail-info-t">{this.props.mail.has_read}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Attachment:</div>
                                <p className="mail-info-t">{this.props.mail.attachment}</p>
                            </li>
                            <li className="mail-info">
                                <div className="mail-info-o">Key:</div>
                                <p className="mail-info-t">{this.props.mail.key}</p>
                            </li>
                        </div>
                        <div>
                            <div className="mail-form-content">Content</div>
                            <li className="mail-form-content-t">{this.props.mail.content}</li>
                        </div>
                    </div>
            );
        }
    });

    var MailForm = React.createClass({
        render: function () {
            return (
                    <div>
                        <div className="header">
                            <h1>Mail</h1>
                        </div>
                        <div>
                            <Main mail={this.props.mail}/>
                        </div>
                    </div>
            );
        }
    });

    React.render(
            <MailForm mail={mail}/>,
            document.getElementById('main')
    )
</script>
