{% extends "base_index.html" %}

{% block title %}
    <title>{{ web_title }}</title>
{% endblock %}

{% block body %}
    <div id="area-pager"></div>
    <script type="text/jsx">
        var page_list = [];
        {% for p in pages %}
            var page = "{{ p }}";
            page_list.push(page);
        {% endfor %}

        page_list.sort();

        var Row = React.createClass({
            render: function(){
                return(
                        <span>{this.props.page}</span>
                );
            }
        });

        var Footer = React.createClass({
            render: function(){
                var rows =[];
                this.props.pages.forEach(function(page){
                    rows.push(<Row  page={page}/>);
                }.bind(this));

                return(
                        <div>
                            {rows}
                        </div>
                );
            }
        });

        var Form = React.createClass({
            render: function(){
                return(
                        <div>
                            <Footer pages={this.props.pages} />
                        </div>
                );
            }
        });

        React.render(
                <Form pages={page_list}/>,
                document.getElementById('area-pager')
        )
    </script>
{% endblock %}