<div id="main"></div>

<script type="text/jsx">
    var recruits = [];
    {% for d in data %}
        var recruit = {};
        recruit['id'] = "{{ d.id }}";
        recruit['tp'] = "{{ d.tp }}";

        var staffs = [];
        {% for s in d.staffs %}
            var staff = "{{ s }}";
            staffs.push(staff);
        {% endfor %}
        recruit['staffs'] = staffs;

        var times = [];
        {% for k, v in d.times.items %}
            var time = {};
            time['id'] = "{{ k }}";
            time['value'] = "{{ v }}";
            times.push(time);
        {% endfor %}
        recruit['times'] = times;

        recruits.push(recruit);
    {% endfor %}

    var TimesRow = React.createClass({
        render: function () {
            return (
                    <li>{this.props.time.id}: {this.props.time.value}</li>
            );
        }
    });

    var RecruitRow = React.createClass({
        render: function () {
            var staff_rows = '';
            var tmp = false;

            this.props.recruit.staffs.forEach(function (staff) {
                if(tmp){
                    staff_rows += ',';
                }
                staff_rows += {staff}.staff;
                tmp = true;
            }.bind(this));

            var times_rows = [];
            this.props.recruit.times.forEach(function (time) {
                times_rows.push(<TimesRow time={time}/>);
            }.bind(this));

            var name = '';
            if(counter % 2 === 0){
                name = 'alt';
            }
            counter++;

            return (
                    <tr className={name}>
                        <td>{this.props.recruit.id}</td>
                        <td>{this.props.recruit.tp}</td>
                        <td>{staff_rows}</td>
                        <td>{times_rows}</td>
                    </tr>
            );
        }
    });

    var counter = 0;
    var RecruitTable = React.createClass({
        render: function () {
            var rows = [];

            this.props.recruits.forEach(function (recruit) {
                if (recruit.id.indexOf(this.props.filterText) === -1) {
                    return;
                }

                rows.push(<RecruitRow recruit={recruit}/>);
            }.bind(this));

            return (
                    <table className="pure-table-my">
                        <thead>
                            <tr>
                                <th>Char ID</th>
                                <th>TP</th>
                                <th>Staffs</th>
                                <th>Times</th>
                            </tr>
                        </thead>
                        <tbody>{rows}</tbody>
                    </table>
            );
        }
    });

    var SearchBar = React.createClass({

        handleChange: function () {
            this.props.onUserInput(
                    this.refs.filterTextInput.getDOMNode().value
            )
        },

        render: function () {
            return (
                    <form>
                        <input
                                type="text"
                                placeholder="Search...ID"
                                value={this.props.filterText}
                                ref="filterTextInput"
                                onChange={this.handleChange}
                                />
                    </form>
            );
        }
    });

    var RecruitForm = React.createClass({

        getInitialState: function () {
            return {
                filterText: ''
            };
        },

        handleUserInput: function (filter) {
            this.setState({
                filterText: filter
            });
        },

        render: function () {
            return (
                    <div>
                        <div className="header">
                            <h1>Recruit</h1>
                        </div>
                        <div className="searchBar">
                            <SearchBar
                                    filterText={this.state.filterText}
                                    onUserInput={this.handleUserInput}
                                    />
                        </div>
                        <div className="middle">
                            <RecruitTable
                                    recruits={this.props.recruits}
                                    filterText={this.state.filterText}
                                    />
                        </div>
                    </div>
            );
        }
    });

    React.render(
            <RecruitForm recruits={recruits}/>,
            document.getElementById('main')
    )

</script>
