{% extends "base_index.html" %}

{% block title %}
    <title>Search</title>
{% endblock %}

{% block body %}
    <div id="layout">
        {% include "menu.html" %}
        <div id="main">
            <div class="header">
                <h1>Search</h1>
            </div>
            <div class="area-search">
                <input id="search-content" class="input-search" placeholder="搜索" title="(｀･ω･´)   (´･ω･｀)">
                <button class="search-btn" title=' \("▔□▔)/\("▔□▔)/\("▔□▔)/'>Search</button>
            </div>
            <div id="data" class="area-data"></div>

            <script type="text/jsx">
                var datas = '';
                var input = '';

                var urlbase = location.href;
                var text = '';

                document.getElementsByClassName("search-btn")[0].onclick = function () {
                    input = document.getElementById('search-content').value;
                    if (input === '') {
                        return;
                    }

                    if (location.href.indexOf("?") > -1) {
                        var arr = location.href.split('?');
                        urlbase = arr[0];
                        text = arr[1].match(/text=(\w+)/);
                    }

                    search();
                };

                function search() {
                    var xmlhttp;
                    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp = new XMLHttpRequest();
                    }
                    else {// code for IE6, IE5
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                    }

                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            datas = xmlhttp.responseText;
                        }
                        change();
                    };

                    var url = urlbase + "s/?text=" + input;
                    window.history.pushState({}, 0, "http://192.168.1.124:8000/data/?text=" + input);

                    xmlhttp.open("Get", url, true);
                    xmlhttp.send();
                }

                function change() {
                    if (datas === 'null') {
                        document.getElementById('area-data').innerHTML = '<div><h1>No Data</h1></div>';
                    }
                    else {
                        var tmp = JSON.parse(datas);
                        var ResultTable = React.createClass({
                            render: function () {
                                if (Object.keys(tmp).length === 0) {
                                    return (
                                            <div>
                                                <h1>Empty</h1>
                                            </div>
                                    );
                                }

                                var rows = [];
                                for (var r in tmp) {
                                    var link = "search/?server_id=" + tmp[r].server_id
                                            + "&type=id&text=" + tmp[r].account_id
                                            + "&jump=1";
                                    rows.push(
                                            <li className="item">
                                                <div>
                                                    <h2>
                                                        <a href={link}>Role ID: {tmp[r].id}</a>
                                                    </h2>
                                                    <div className="l-info">
                                                        <i className="account" title="帐号id">
                                                            帐号: {tmp[r].account_id};
                                                        </i>
                                                        <i className="account" title="服务器id">
                                                            服务器: {tmp[r].server_id};
                                                        </i>
                                                        <i className="account" title="角色名">
                                                            角色名: {tmp[r].name};
                                                        </i>
                                                    </div>
                                                    <div>
                                                        <i className="account" title="俱乐部名">
                                                            俱乐部: {tmp[r].club_name};
                                                        </i>
                                                        <i className="account" title="创建时间">
                                                            创建时间: {tmp[r].create_at};
                                                        </i>
                                                    </div>
                                                </div>
                                            </li>
                                    );
                                }

                                return (
                                        <div>
                                            <ul>
                                                {rows}
                                            </ul>
                                        </div>
                                );
                            }
                        });

                        var ResultForm = React.createClass({
                            render: function () {
                                return (
                                        <div>
                                            <ResultTable />
                                        </div>
                                );
                            }
                        });

                        React.render(
                                <ResultForm />,
                                document.getElementById('data')
                        )
                    }
                }

            </script>
        </div>
    </div>
{% endblock %}