{% extends "base_index.html" %}

{% block title %}
    <title>{{ web_title }}</title>
{% endblock %}

{% block body %}
    <div id="layout">
    {% include "menu.html" %}
        <div class="pure-menu-heading" align="center">
            <h1>服务器列表</h1>
            <h4>Server List Index Page</h4>
        </div>
        <div id="main" align="center"></div>
        <script type="text/jsx">
            var counter = 0;
            var serverList = [];
            {% for server in servers %}
                var s = {};
                s['id'] = "{{ server.id }}";
                s['name'] = "{{ server.name }}";
                s['status'] = "{{ server.status }}";
                s['open_at'] = "{{ server.open_at }}";
                s['mongo_host'] = "{{ server.mongo_host }}";
                s['mongo_port'] = "{{ server.mongo_port }}";
                s['mongo_db'] = "{{ server.mongo_db }}";

                serverList.push(s);
            {% endfor %}

            var Row = React.createClass({
                render: function(){
                    var link_ladder = '/data/ladder/?server_id=' + this.props.server.id;
                    var link_cup = '/data/cup/?server_id=' + this.props.server.id;
                    var name='';
                    if(counter%2 === 0){
                        name='alt';
                    }
                    ++counter;

                    return(
                            <tr className={name}>
                                <td>{this.props.server.id}</td>
                                <td>{this.props.server.name}</td>
                                <td>{this.props.server.status}</td>
                                <td>{this.props.server.open_at}</td>
                                <td>{this.props.server.mongo_host}</td>
                                <td>{this.props.server.mongo_port}</td>
                                <td>{this.props.server.mongo_db}</td>
                                <td><a href={link_ladder}>天梯</a></td>
                                <td><a href={link_cup}>杯赛</a></td>
                            </tr>
                    );
                }
            });

            var ServerTable = React.createClass({
                render: function(){
                    var rows = [];
                    this.props.data.forEach(function(server){
                        rows.push(<Row server={server}/>);
                    }.bind(this));
                    return(
                            <table className="pure-table-my">
                                <thead>
                                    <tr>
                                        <th>ServerID</th>
                                        <th>ServerName</th>
                                        <th>Status</th>
                                        <th>OpenTime</th>
                                        <th>MongoHost</th>
                                        <th>MongoPort</th>
                                        <th>MongoDBName</th>
                                        <th>Ladder</th>
                                        <th>Cup</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {rows}
                                </tbody>
                            </table>
                    );
                }
            });

            React.render(
                    <ServerTable data={serverList}/>,
                    document.getElementById('main')
            );
        </script>
    </div>
{% endblock %}