<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
    <script src="/static/react.js"></script>
    <script src="/static/JSXTransformer.js"></script>
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            border: solid salmon;
            border-width: 1px 0px 0px 1px
        }

        td {
            border: solid salmon;
            border-width: 1px 0px 0px 1px
        }
    </style>
</head>
<body>
<h1>Staff List</h1>

<div id="content">
    <h1>
        Null Data Now
    </h1>
</div>
<script type="text/jsx">

    var server_id = "{{ server_id }}";

    var staff_data = [];
    {% for d in data %}
        var row = {};
        row['id'] = "{{ d.id }}";

        var staff_list = [];
        {% for staff in d.staffs %}
            var s_id = "{{ staff }}";
            staff_list.push(s_id);
            staff_list.push(', ');
        {% endfor %}
        row['staffs'] = staff_list;

        var training_list = [];
        {% for training in d.trainings %}
            var t_id = "{{ training }}";
            training_list.push(t_id);
        {% endfor %}
        row['trainings'] = training_list;

        staff_data.push(row);
    {% endfor %}


    var MakeTrainRow = React.createClass({
        render: function () {
            return (
                    <li>{this.props.training}</li>
            );
        }
    });

    var MakeStaffRow = React.createClass({
        render: function(){
            return(
                    <li>{this.props.data}</li>
            );
        }
    });

    var DataRow = React.createClass({
        render: function () {
            var TrainRows = [];
            this.props.staff.trainings.forEach(function (training) {
                TrainRows.push(<MakeTrainRow training={training} />);
            }.bind(this));

            var staff_link = "/data/staff_char?server_id=" + server_id + "&char_id=" + this.props.staff.id;
            return (
                    <tr>
                        <td>{this.props.staff.id}</td>
                        <td>
                            <a href={staff_link}>{this.props.staff.staffs}</a>
                        </td>
                        <td>{TrainRows}</td>
                    </tr>
            );
        }
    });

    var StaffTable = React.createClass({
        render: function () {
            var rows = [];
            this.props.staff_data.forEach(function (staff) {
                if( staff.id.indexOf(this.props.filterText) === -1 ){
                    return;
                }

                rows.push(<DataRow staff={staff}/>);
            }.bind(this));
            return (
                    <table>
                        <thead>
                            <tr>
                                <th>帐号ID</th>
                                <th>员工</th>
                                <th>训练</th>
                            </tr>
                        </thead>
                        <tbody>
                            {rows}
                        </tbody>
                    </table>
            );
        }
    });

    var SearchBar = React.createClass({

        handleChange:function(){
            this.props.onUserInput(
                    this.refs.filterTextInput.getDOMNode().value
            );
        },

        render: function(){
            return(
                    <form>
                        <input
                                type="text"
                                placeholder="Search...ID"
                                value={this.props.filterText}
                                ref="filterTextInput"
                                onChange={this.handleChange}
                                />
                    </form>
            );
        }
    });

    var StaffForm = React.createClass({
        getInitialState: function(){
            return{
                filterText: ''
            };
        },

        handleUserInput: function(filter){
            this.setState({
                filterText: filter
            });
        },

        render: function () {
            return (
                    <div>
                        <SearchBar
                                filterText={this.state.filterText}
                                onUserInput={this.handleUserInput}
                                />

                        <StaffTable
                                staff_data={this.props.staff_data}
                                filterText={this.state.filterText}
                                />
                    </div>
            );
        }
    });

    React.render(
            <StaffForm staff_data={staff_data}/>,
            document.getElementById('content')
    );

</script>
</body>
</html>