<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/react.js"></script>
    <script src="/static/JSXTransformer.js"></script>
    <style type="text/css">
        h1 {color: black; }
        table {text-align: center;}
        td {text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px}
        th {text-align: center;
            border: solid salmon;
            border-width: 0px 0px 1px 1px}
    </style>
</head>
<body>
<div id="content"></div>

<script type="text/jsx">

    var data = [];
    {% for d in data %}
        var row = {};
        row['id'] = "{{ d.id }}";

        var trainings = [];
        {% for t_k, t_v in d.trainings.items %}
            var training = {};
            training['key'] = "{{ t_k }}";
            training['item'] = "{{ t_v.item }}";
            training['oid'] = "{{ t_v.oid }}";

            trainings.push(training);
        {% endfor %}
        row['trainings'] = trainings;

        data.push(row);
    {% endfor %}

    var TrainingRow = React.createClass({
        render: function(){
            return(
                    <table>
                        <tr>
                            <td>
                                <li>TrainingID: {this.props.training.key}</li>
                                <li>Item: {this.props.training.item}</li>
                                <li>Oid: {this.props.training.oid}</li>
                            </td>
                        </tr>
                    </table>
            );
        }
    });

    var Row = React.createClass({
        render: function(){
            var training_row = [];
            this.props.row.trainings.forEach(function(training){
                training_row.push( <TrainingRow training={training} /> );
            });

            return(
                    <tr>
                        <td>{this.props.row.id}</td>
                        <td>{training_row}</td>
                    </tr>
            );
        }
    });

    var ShowTable = React.createClass({
        render: function(){
            var rows = [];
            this.props.data.forEach(function(row){
                rows.push( <Row row={row} /> );
            });

            return(
                    <div>
                        <h1>Training Store</h1>
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Training</th>
                            </tr>
                            {rows}
                        </table>
                    </div>
            );
        }
    });

    React.render(
            <ShowTable data={data} />,
            document.getElementById('content')
    )

</script>
</body>
</html>