{% extends "dianjing_statistics_base.html" %}

{% block style %}
{% endblock %}


{% block content %}
<div>
    <div id="header">
    <form class="pure-form">
        <fieldset>
            <select id="queryTypeSelect">
                <option value="1">账号名</option>
                <option value="2">角色名</option>
                <option value="3">角色ID</option>
            </select>

            <input type="text" id="queryInput" />
            <a class="pure-button pure-button-primary" href="#" id="queryBtn">查询</a>
        </fieldset>
    </form>
    </div>

    <script type="text/javascript">
        $('#queryBtn').click(function(){
            var tp = $('#queryTypeSelect').val();
            var value = $('#queryInput').val();
            var url = window.location.pathname + "?tp=" + tp + "&value=" + value;
            window.location.href = url;
        });
    </script>

    {% if error %}
        {{ error }}
    {% endif %}


    {% if multi %}
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>角色ID</th>
            <th>角色名</th>
            <th>账号ID</th>
            <th>服务器ID</th>
        </tr>
        </thead>
        <tbody>

        {% for m in multi %}
        <tr>
            <td><a href="/statistics/char/?value={{ m.char_id }}" class="link">{{ m.char_id }}</a></td>
            <td>{{ m.char_name }}</td>
            <td>{{ m.account_id }}</td>
            <td>{{ m.server_id }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}


    {% if show %}

    <h3>基本信息</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>角色ID</th>
            <th>角色名</th>
            <th>游戏服</th>
            <th>最近登陆</th>
            <th>俱乐部等级</th>
            <th>VIP等级</th>
            <th>VIP经验</th>
            <th>战力</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ char_id }}</td>
            <td>{{ char_name }}</td>
            <td>{{ server_id }}</td>
            <td>{{ last_login }}</td>
            <td>{{ club_level }}</td>
            <td>{{ vip_level }}</td>
            <td>{{ vip_exp }}</td>
            <td>{{ power }}</td>
        </tr>
        </tbody>
    </table>

    <h3>资源</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>钻石</th>
            <th>金币</th>
            <th>水晶</th>
            <th>气矿</th>
            <th>低级升星石</th>
            <th>高级升星石</th>
            <th>能量石</th>
            <th>工作证</th>
            <th>绿色晶体</th>
            <th>红色晶体</th>
            <th>荣誉奖杯</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ diamond }}</td>
            <td>{{ gold }}</td>
            <td>{{ crystal }}</td>
            <td>{{ gas }}</td>
            <td>{{ item_30007 }}</td>
            <td>{{ item_30008 }}</td>
            <td>{{ item_30009 }}</td>
            <td>{{ item_30015 }}</td>
            <td>{{ item_30022 }}</td>
            <td>{{ item_30023 }}</td>
            <td>{{ item_30019 }}</td>
        </tr>
        </tbody>
    </table>

    <h3>公会</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>公会ID</th>
            <th>公会名字</th>
            <th>加入时间</th>
            <th>个人公会币</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            {% if union %}

            <td><a href="/statistics/union/?sid={{ server_id }}&uid={{ union.id }}" class="link">{{ union.id }}</a></td>
            <td>{{ union.name }}</td>
            <td>{{ union.joined_at }}</td>
            <td>{{ union.contribution }}</td>

            {% else %}

            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>

            {% endif %}
        </tr>
        </tbody>
    </table>

    <h3>上阵选手</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>原始ID</th>
            <th>名字</th>
            <th>等级</th>
            <th>等阶</th>
            <th>星数</th>
            <th>战力</th>
            <th>兵种ID</th>
            <th>位置</th>
        </tr>
        </thead>
        <tbody>

        {% for staff in staffs %}
        <tr>
            <td>{{ staff.id }}</td>
            <td>{{ staff.oid }}</td>
            <td>{{ staff.name | safe }}</td>
            <td>{{ staff.level }}</td>
            <td>{{ staff.step }}</td>
            <td>{{ staff.star }}</td>
            <td>{{ staff.power }}</td>
            <td>{{ staff.unit_id }}</td>
            <td>{{ staff.position }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <h3>上阵选手装备</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>原始ID</th>
            <th>名字</th>
            <th>等级</th>
            <th>选手</th>
        </tr>
        </thead>
        <tbody>

        {% for equip in equips %}
        <tr>
            <td>{{ equip.oid }}</td>
            <td>{{ equip.name }}</td>
            <td>{{ equip.level }}</td>
            <td>{{ equip.staff_name | safe }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>


    {% endif %}
</div>

{% endblock %}