{% extends "dianjing_statistics_base.html" %}

{% block style %}
#index1 {
    margin-bottom: 10px;
}
{% endblock %}


{% block content %}

<div id="index1">
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>账号数</th>
            <th>角色数</th>
            <th>总充值金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ account_amount }}</td>
            <td>{{ char_amount }}</td>
            <td>{{ total_purchase }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>服务器名</th>
            <th>开服时间</th>
            <th>角色数</th>
            <th>充值金额</th>
        </tr>
        </thead>
        <tbody>

        {% for info in server_info %}
        <tr>
            <td>{{ info.sid }}</td>
            <td>{{ info.server_name }}</td>
            <td>{{ info.opened_at }}</td>
            <td>{{ info.char_amount }}</td>
            <td>{{ info.total_purchase }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}