<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={{ width }}, initial-scale=1">
    <title>公告</title>

    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
            background-color: #003366;
            color: #ffffff;
            width: {{ width }};
        }

        .bulletin {
            margin: 5px;
        }

        .bulletin .head {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        .bulletin .image {
            display: block;
        }

        .bulletin .content {
            font-size: 20px;
        }

    </style>
</head>
<body>

{% for bulletin in bulletins %}
    <div class="bulletin">
        <div class="head">
            {{ bulletin.title }}
        </div>

    {% if bulletin.image %}
        <div class="image">
        <img src="{{ bulletin.image }}" width="100%" />
        </div>
    {% endif %}

    {% if bulletin.content %}
        <div class="content">
        {{ bulletin.content|safe }}
        </div>
    {% endif %}

    </div>
{% endfor %}

</body>
</html>